/* Khung tổng */
.gdv-wrapper {
  background: #fff;
  border: 2px solid #fcd535;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.04);
}

/* Lưới GDV */
.gdv-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 30px;
  justify-items: center;
}

/* GDV item */
.gdv-card {
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}

.gdv-card:hover {
  transform: translateY(-3px);
}

/* Avatar */
.gdv-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #facc15;
  margin: 0 auto 10px;
  background: white;
}

.gdv-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Avatar mặc định */
.gdv-avatar img[src=""], 
.gdv-avatar img:not([src]) {
  content: url('../assets/img/default-avatar.png');
}

/* STT */
.gdv-stt {
  font-size: 14px;
  color: #333;
  margin-top: 4px;
  margin-bottom: 2px;
}

/* Tên */
.gdv-name {
  font-size: 15px;
  color: #111827;
  font-weight: 500;
  line-height: 1.3;
}
